* {
  box-sizing: border-box;
}

:root {
  --accentColor: #17548f;
  --transparentColor: #17548f4d;
  --colorWhite: #fff;
  --mainFont: "Roboto Condensed", sans-serif;
  --cardBackgroundColor: #f7f7f7;
  --bodyBackground: #ebebeb;
  --linearGradientStart: rgba(112, 158, 246, 1);
  --linearGradientFinish: rgba(46, 207, 228, 1);
  --boxShadowColor: rgba(34, 34, 35, 0.4);
  --linkColor: #852e7b;
  --backgroundCard: #f7f7f7;
  --borderCardColor: #ccc;
  --sectionWidth: 1100px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

ul {
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
}

body {
  height: 100vh;
  font-family: var(--mainFont);
  font-size: 16px;
  line-height: normal;
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: var(--bodyBackground);
  margin: 0;
  padding: 20px;
}

.container {
  margin: 0 auto;
}

.header {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5px;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 100%;
}

.logo {
  height: 100px;
  width: 100px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
}

.navigation {
  position: absolute;
  background-color: var(--colorWhite);
  border: 1px solid var(--accentColor);
  border-radius: 6px;
  height: 40px;
  width: 40px;
  top: 0;
  right: 2px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 8px;
  z-index: 2;
}

.navigation:active {
  background-color: var(--transparentColor);
  transform: translate(1px, 1px);
}

.navigation__decor {
  border: 2px solid var(--accentColor);
}

.link__container {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  justify-content: space-between;
  border: 1px solid var(--accentColor);
  border-radius: 6px;
  padding: 10px;
}

.linkCollection {
  display: flex;
  flex-direction: column;
  row-gap: 5px;
  background-color: var(--colorWhite);
  padding: 60px 10px 10px 10px;
  min-width: var(--sectionWidth);
  border-radius: 20px;
}

.linkCollection-action {
  flex-direction: row;
}

.link__content {
  max-width: 100%;
  font-size: 14px;
  border: none;
  overflow: hidden;
}

.link__title {
  font-family: var(--mainFont);
  font-size: 16px;
  line-height: normal;
  color: var(--accentColor);
}

.header-group {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}

.header_title {
  font-size: 24px;
}

.header_subtitle {
  text-transform: lowercase;
  font-size: 16px;
}

.list {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  row-gap: 30px;
}

.listRow__item {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 40px;
  min-width: 350px;
  align-items: center;
  border-radius: 20px;
  border: none;
  background-color: var(--colorWhite);
  padding-bottom: 40px;
}

.listRow__item--style::before {
  position: absolute;
  content: "";
  background: linear-gradient(
    0deg,
    var(--linearGradientStart) 0%,
    var(--linearGradientFinish) 100%
  );
  width: 100%;
  height: 160px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.listRow__title {
  position: relative;
  min-height: 120px;
  min-width: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  font-size: 24px;
  color: var(--accentColor);
  box-shadow: 4px 4px 8px 0px var(--boxShadowColor);
  background-color: var(--backgroundCard);
  margin: 20px 0;
}

.QRCode {
  display: flex;
  justify-content: center;
}

.link {
  position: relative;
  display: block;
  text-decoration: none;
  width: 100%;
  background-color: var(--linkColor);
  font-size: 22px;
  padding: 10px 40px;
  border-radius: 10px;
  color: var(--colorWhite);
  text-align: center;
}

.link::before {
  position: absolute;
  content: "";
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 24px;
  width: 24px;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
}

.link--iconGroup::before {
  background-image: url("../decor/group.svg");
}

.link--iconCall::before {
  background-image: url("../decor/callSferum.svg");
}

.linkGroup {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  width: 90%;
  padding: 20px;
  padding-top: 20px;
  border: 1px solid var(--borderCardColor);
  border-radius: 20px;
}

.linkGroup::before {
  position: absolute;
  content: "";
  background-repeat: no-repeat;
  background-size: contain;
  height: 32px;
  width: 32px;
  left: 50%;
  transform: translateX(-50%);
  top: -24px;
  z-index: 3;
}

.linkGroup--sferum::before {
  background-image: url("../decor/Sferum_Icon.svg");
}

.linkGroup--MAX::before {
  background-image: url("../decor/max-messenger-sign-logo.svg");
  opacity: 0.3;
}

.linkGroup--MAX::after {
  position: absolute;
  content: "с 04.10.25";
  top: -17px;
  left: 37%;
  transform: rotate(-20deg);
  z-index: 3;
}

.search {
  position: relative;
  display: flex;
  width: 100%;
  column-gap: 5px;
  margin-bottom: 10px;
}

.search__input {
  font-family: var(--mainFont);
  font-size: 16px;
  line-height: normal;
  width: 100%;
  padding: 10px 14px;
  padding-left: 55px;
  border: 1px solid var(--accentColor);
  border-radius: 4px;
}

.search_label {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  font-family: var(--mainFont);
  font-size: 16px;
  line-height: 0;
}

.visible {
  display: none;
}

@media (min-width: 800px) {
  .container {
    max-width: var(--sectionWidth);
  }
}
